
.container{
    display: flex;
    position: absolute;
    margin-bottom: 100px;
}

.kotak1{
    background-color: green;
    width: 1347px;
    height: 190px;
    border-style: solid;
    border-width: 2px;
}

.container2{
    display: flex;
    position: absolute;
    margin-top: 205px;
    margin-left: 0px;
}

.kotak2{
    background-color: yellow;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    
}

.kotak3{
    background-color: blue;
    width: 1127px;
    height: 200px;
    margin-left: 15px;
    border-style: solid;
    border-width: 2px;
}

.container3{
    display: flex;
    position: absolute;
    margin-top: 420px;
    margin-left: 0px;
}

.kotak4{
    background-color: yellow;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    
}

.kotak5{
    background-color: red;
    width: 1127px;
    height: 200px;
    margin-left: 15px;
    border-style: solid;
    border-width: 2px;
}

div{
    /* width: 1350px;
    height: 640px; */
    margin: auto;
}
